@model Ticket_OP.Models.SandEmail
@{
    //ViewBag.Title = "updatedid";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<br />

<h3>Inquiry BeautyCommunity</h3>
<hr />
<h3> ส่งข้อมูลเรียบร้อย </h3>




@section scripts{

    @Scripts.Render("~/bundles/jqueryval")

}
